
{% extends 'base.html' %}
{% block title%}  Category   {% endblock title%}
{% block header %}  {% include 'header.html' %}    {% endblock header %}

{% block carousel %}   {% include 'carousel.html' %}     {% endblock carousel %}

{% block content %}
<section id="category-section" style="background:navy;">
<div class="container mt-5 mb-5">
    <h2 class="text-center text-capitalize latest mb-5 mt-5">All category</h2>
    <div class="row gy-3 justify-content-center">
      {% if category %}
        {% for items in category %}
          <div class="col-10 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xl-3">
            <div class="card">
              <img src="{{items.img_r.url}}" class="card-img-top imgg" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{items.title_r}}</h5>
                <h5 class="card-title">&#8358; {{items.price}}</h5>
                <h5 class="card-title">{{items.size}}</h5>
                <p class="card-text">{{items.discription}}</p>
                <a href="{% url 'details' items.id %}" class="btn btn-primary">Product details</a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div> 
</section>   
     

{% endblock content %}

{% block footer %}  {% include 'footer.html' %}  {% endblock footer %}