
  <div class="container-fluid sticky-top">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">CYBER DEV. store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <i class="fa-solid fa-bars"></i>

        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'categories' %}">Categories</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="{% url 'product' %}">Products</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                User
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'signout' %}">Signout</a></li>
                <li><a class="dropdown-item" href="{% url 'profile' %}">{{user.username}}</a></li>
                <li><a class="dropdown-item" href="{% url 'profile' %}">
                  {% if cartcount > 0 %}
                  <span class="badge bg-info text-dark">{{carcount}}</span>
                  {% else %}
                  <span class="badge bg-info text-dark">0</span>
                  {% endif %}
                
                </a></li>
                
                {% else %}
                <li><a class="dropdown-item" href="{% url 'signin' %}">Signin</a></li>
                <li><a class="dropdown-item" href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
              </ul>
            </li>  
          </ul>
          <form class="d-flex" action="{% url 'search' %}" method="POST">
          {% csrf_token %}
            <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn buton-fre" type="submit">Search</button>
          </form>
        </div>
        <div class=" face toggle">
          <i class="fas fa-moon"></i>
          <!-- <i class="fas fa-sun"></i> -->
        </div>
      </div>
  </div>
</nav>
</div>
    {% if messages %}
      {% for items in messages %}  
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{items}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
</div>


  
  {% comment %} <li><a class="dropdown-item" href="#">Nike</a></li>
                <li><a class="dropdown-item" href="#">Jordan</a></li>
                <li><a class="dropdown-item" href="#">Adiddas</a></li>
                <li><a class="dropdown-item" href="#">Balenciga</a></li>
                <li><a class="dropdown-item" href="#">Gucci</a></li>
                <li><a class="dropdown-item" href="#">Puma</a></li>  {% endcomment %}
             
            {% comment %} <li class="nav-item">
               <a class="nav-link" href="{% url 'signin' %}" tabindex="-1" aria-disabled="true">signin</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signout' %}" tabindex="-1" aria-disabled="true">signout</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}" tabindex="-1" aria-disabled="true">signup</a>
            </li> {% endcomment %}
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}" tabindex="-1" aria-disabled="true">Profile</a>
            </li> {% endcomment %}