
{% load static %} 
<section id="team-section" style="background:navy;">
<div class="container mb-5 text-capitalize">
    {% comment %} <h2 class="text-center text-capitalize mt-5 mb-5 text-white">Our Team</h2> {% endcomment %}
    <h2 class="text-center text-capitalize latest mt-5 mb-5">Our Team</h2>
    <div class="row justify-content-center">
      <div class="col-8 colsm-6 col-md-4">
        <div class="card fate">
          <img src="{% static '' %}img/man1.jpg" class="card-img-top rounded-pill imgg" alt="...">
          <div class="card-body" style="background:navy;">
            <h5 class="card-title text-white">Team: cyber dev</h5>
            <p class="card-text text-white">portfolio: jnr. dev.</p>
            <a href="https://www.facebook.com" class="btn text-white">meet</a>
          </div>
        </div>
      </div>
      <div class="col-8 colsm-6 col-md-4">
        <div class="card fate">
          <img src="{% static '' %}img/man2.jpg" class="card-img-top rounded-pill imgg" alt="...">
          <div class="card-body" style="background:navy;">
            <h5 class="card-title text-white">Team: cyber dev2</h5>
            <p class="card-text text-white">portfolio: jnr. dev.</p>
            <a href="https://www.facebook.com" class="btn text-white">meet</a>
          </div>
        </div>
      </div>
      
      <div class="col-8 colsm-6 col-md-4">
        <div class="card fate">
          <img src="{% static '' %}img/man3.jpg"  style="background:navy;" class="card-img-top rounded-pill imgg" alt="...">
          <div class="card-body" style="background:navy;">
            <h5 class="card-title text-white">Team: cyber dev3</h5>
            <p class="card-text text-white">portfolio: jnr. dev.</p>
            <a href="https://www.facebook.com" class="btn text-white">meet</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




  
